* {
   margin: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Montserrat', sans-serif;
   background: url(./img/natalee1.jpg) no-repeat center;
   background-size: cover;
   position: relative;
}

body::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 42, 48, 0.3);
}

button, button:hover, button:active, button:focus {
   outline: none;
}

a, a:hover, a:active, a:focus {
   text-decoration: none;
}







.card {
   padding: 40px;
   position: relative;
   background: rgba(0, 42, 48, 0.95);
   border-radius: 20px;
   min-height: 520px;
   display: flex;
   align-items: flex-end;
   overflow: hidden;
}

.card::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, #F579B0 0%, #DEF57C 100%);
   clip-path: circle(150px at 80% 20%);
   transition: all 0.5s ease-in-out;
}

.card:hover::before {
   clip-path: circle(300px at 80% -20%);
}




.card::after {
   content: 'Nike';
   font-size: 7em;
   font-style: italic;
   font-weight: 800;
   color: rgba(255, 255, 255, 0.04);
   position: absolute;
   bottom: 25%;
   left: 50%;
   transform: translateX(-50%);
   text-shadow: 1px 1px 10px #F579B0;
   z-index: 0;
}



.img {
   max-width: 300px;
   width: 100%;
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translateX(-50%) rotate(-20deg);
   z-index: 2;
   transition: all 0.5s ease-in-out;
}

.card:hover .img {
   top: 12%;
}

.img img {
   max-width: 100%;
   height: auto;
}

.content {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   transform: translateY(45%);
   transition: all 0.8s ease-in-out;
   z-index: 1;
}

.card:hover .content {
   transform: translateY(0);
}

h3 {
   margin-bottom: 20px;
   font-size: 30px;
   font-weight: 700;
   color: #fff;
}

.option {
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px);
   transition: all 0.5s ease-in-out;
}


.card:hover .option  {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
}

.card:hover .option.size {
   transition-delay: 0.5s;
}
.card:hover .option.color {
   transition-delay: 0.6s;
}





.items {
   display: flex;
   align-items: center;
}

.cat {
   margin-right: 15px;
   font-size: 15px;
   font-weight: 500;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: 2px;
}

.items span {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   width: 30px;
   height: 30px;
   transition: all 0.2s ease-out;
}
.items span:hover {
   transform: translateY(-3px);
   background: rgb(211, 211, 211);
}

.items span:not(:last-child) {
   margin-right: 10px;
}

.size span {
   font-size: 15px;
   font-weight: 600;
   color: #000;
   background: #fff;
   border-radius: 5px;
}

.size span:hover {
   background: #DBF576;
}


.color span {
   border-radius: 50%;
}

.color span:nth-child(1) {
   background: #F579B0;
}
.color span:nth-child(2) {
   background: #DBF576;
}
.color span:nth-child(3) {
   background: #88A81F;
}
.color span:nth-child(4) {
   background: #A3081C;
}


button {
   margin-top: 15px;
   padding: 15px 30px;
   border-radius: 5px;
   border: none;
   background-color: #fff;
   font-size: 15px;
   font-weight: 600;
   color: #000;
   cursor: pointer;
   text-transform: uppercase;
   opacity: 0;
   visibility: hidden;
   transform: translateY(100%);
   transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, background-color 0.3s ease-in-out 0s;
}

.card:hover button {
   transform: translateY(0);
   opacity: 1;
   visibility: visible;
   transition: transform 0.5s ease-in-out 0.9s, opacity 0.5s ease-in-out 0.9s, visibility 0.5s ease-in-out 0.9s, background-color 0.3s ease-in-out 0s;
}

.card button:hover {
   background-color: #DBF576;
}

